:::::::::::::::::::::::::::::::::::
:::::::::::::M E N U:::::::::::::::


	Idly			${{i}}
	Vada			${{v}}
	Poori			${{poo}}
	CholeBature		${{cb}}
	Samosa			${{s}}
	PaniPoori		${{pp}}
	MasalaDosa		${{md}}
	PlainDosa		${{pd}}
	KaramDosa		${{kd}}
	MirchiBajji		${{mb}}
	Pakora			${{p}}


:::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::